


  <!-- New One -->

  <div class="sidebar" data-background-color="dark">
    
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <img style="width: 115px;height:50px;
            margin: 0px 15px 35px auto;" src="../../../assets/images/ImageW.png">
            <!-- <h4 class="text-section">Components</h4> -->
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
              <i class="fas fa-layer-group"></i>
              <p>المبيعات</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse p-0 no-bullets">
          
                <!-- Sales Movement -->
                <li class="collapsed-item ">
                  <a (click)="toggleCollapse('salesMovementSub')" aria-expanded="false" aria-controls="salesMovementSub">
                    <span class="toggle-icon">{{ isCollapsed['salesMovementSub'] ? '+' : '-' }}</span>
                    <span class="sub-item">حركة المبيعات</span>
                  </a>
                  <div [ngClass]="{'collapse': isCollapsed['salesMovementSub']}" id="salesMovementSub">
                    <ul class="nav nav-collapse sub-nav ">
                      <li><a>عروض و طلبات البيع</a></li>
                      <li><a>سند تسليم بضاعة</a></li>
                      <li><a>فواتير المبيعات</a></li>
                      <li><a>سند استيلام البضاعه</a></li>
                      <li><a>فواتير المرتجعات</a></li>
                      <li><a>التحصيلات</a></li>
                    </ul>
                  </div>
                </li>
          
                <!-- Sales Managers -->
                <li class="collapsed-item">
                  <a (click)="toggleCollapse('salesManagersSub')" aria-expanded="false" aria-controls="salesManagersSub">
                    <span class="toggle-icon">{{ isCollapsed['salesManagersSub'] ? '+' : '-' }}</span>
                    <span class="sub-item">مسؤولي المبيعات</span>
                  </a>
                  <div [ngClass]="{'collapse': isCollapsed['salesManagersSub']}" id="salesManagersSub">
                    <ul class="nav nav-collapse sub-nav">
                      <li><a href="#">مدراء كبار</a></li>
                      <li><a href="#">مدراء صغار</a></li>
                    </ul>
                  </div>
                </li>
          
                <!-- Clients -->
                <li class="collapsed-item">
                  <a (click)="toggleCollapse('clientsSub')" aria-expanded="false" aria-controls="clientsSub">
                    <span class="toggle-icon">{{ isCollapsed['clientsSub'] ? '+' : '-' }}</span>
                    <span class="sub-item">العملاء</span>
                  </a>
                  <div [ngClass]="{'collapse': isCollapsed['clientsSub']}" id="clientsSub">
                    <ul class="nav nav-collapse sub-nav">
                      <li><a href="#">قائمة العملاء</a></li>
                      <li><a href="#">فئات العملاء</a></li>
                    </ul>
                  </div>
                </li>
          
                <!-- Sales Reports -->
                <li class="collapsed-item">
                  <a (click)="toggleCollapse('salesReportsSub')" aria-expanded="false" aria-controls="salesReportsSub">
                    <span class="toggle-icon">{{ isCollapsed['salesReportsSub'] ? '+' : '-' }}</span>
                    <span class="sub-item">تقارير المبيعات</span>
                  </a>
                  <div [ngClass]="{'collapse': isCollapsed['salesReportsSub']}" id="salesReportsSub">
                    <ul class="nav nav-collapse sub-nav">
                      <li><a href="#">التقارير الربعية</a></li>
                      <li><a href="#">التقارير السنوية</a></li>
                    </ul>
                  </div>
                </li>
          
                <!-- Settings -->
                <li class="collapsed-item">
                  <a (click)="toggleCollapse('settingsSub')" aria-expanded="false" aria-controls="settingsSub">
                    <span class="toggle-icon">{{ isCollapsed['settingsSub'] ? '+' : '-' }}</span>
                    <span class="sub-item">اعدادات</span>
                  </a>
                  <div [ngClass]="{'collapse': isCollapsed['settingsSub']}" id="settingsSub">
                    <ul class="nav nav-collapse sub-nav">
                      <li><a href="#">اعدادات عامة</a></li>
                      <li><a href="#">اعدادات الخصوصية</a></li>
                    </ul>
                  </div>
                </li>
          
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
              <i class="fas fa-th-list"></i>
              <p>Sidebar Layouts</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="sidebarLayouts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="sidebar-style-2.html">
                    <span class="sub-item">Sidebar Style 2</span>
                  </a>
                </li>
                <li>
                  <a href="icon-menu.html">
                    <span class="sub-item">Icon Menu</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#forms">
              <i class="fas fa-pen-square"></i>
              <p>Forms</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="forms">
              <ul class="nav nav-collapse">
                <li>
                  <a href="forms/forms.html">
                    <span class="sub-item">Basic Form</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas fa-table"></i>
              <p>Tables</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav nav-collapse">
                <li>
                  <a href="tables/tables.html">
                    <span class="sub-item">Basic Table</span>
                  </a>
                </li>
                <li>
                  <a href="tables/datatables.html">
                    <span class="sub-item">Datatables</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#maps">
              <i class="fas fa-map-marker-alt"></i>
              <p>Maps</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="maps">
              <ul class="nav nav-collapse">
                <li>
                  <a href="maps/googlemaps.html">
                    <span class="sub-item">Google Maps</span>
                  </a>
                </li>
                <li>
                  <a href="maps/jsvectormap.html">
                    <span class="sub-item">Jsvectormap</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#charts">
              <i class="far fa-chart-bar"></i>
              <p>Charts</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="charts/charts.html">
                    <span class="sub-item">Chart Js</span>
                  </a>
                </li>
                <li>
                  <a href="charts/sparkline.html">
                    <span class="sub-item">Sparkline</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="widgets.html">
              <i class="fas fa-desktop"></i>
              <p>Widgets</p>
              <span class="badge badge-success">4</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="../../documentation/index.html">
              <i class="fas fa-file"></i>
              <p>Documentation</p>
              <span class="badge badge-secondary">1</span>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#submenu">
              <i class="fas fa-bars"></i>
              <p>Menu Levels</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="submenu">
              <ul class="nav nav-collapse">
                <li>
                  <a data-bs-toggle="collapse" href="#subnav1">
                    <span class="sub-item">Level 1</span>
                    <span class="caret"></span>
                  </a>
                  <div class="collapse" id="subnav1">
                    <ul class="nav nav-collapse subnav">
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#subnav2">
                    <span class="sub-item">Level 1</span>
                    <span class="caret"></span>
                  </a>
                  <div class="collapse" id="subnav2">
                    <ul class="nav nav-collapse subnav">
                      <li>
                        <a href="#">
                          <span class="sub-item">Level 2</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">
                    <span class="sub-item">Level 1</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>